.Sudoku {
    display: flex;
    padding: 50px 37% 10px 37%;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    flex-direction: column
    
}

.SudokuSolveButton {
   
    background-color: transparent;
    border: 1px solid #ccc;
    color: rgb(116, 209, 54);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 20px;
    font-weight: bold;
    flex-direction: column;
    align-self: center
}

.SudokuSolveButtonDisable {
 
    background-color: transparent;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 20px;
    font-weight: bold;
    flex-direction: column;
    align-self: center;
    color: #ccc;
    cursor: not-allowed;
    
}

.ParagrafDiv {
    display: flex;
   width: 100%;
   height: 50px;
   flex-direction: row
  
}

.ParagrafDiv p{
    position: relative;
    left: 900px;
    font-weight: bold;
}

.ParagrafDiv a{
    position: relative;
    top: 16px;
    left: 945px;
    font-weight: bold;
}

.GithubDiv {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row
}

.GithubDiv p{
    position: relative;
    left: 900px;
    font-weight: bold;
}

.GithubDiv a{
    position: relative;
    top: 16px;
    left: 915px;
    font-weight: bold;
}

/* .SudokuButton button {
    display: flex;
    flex: 1;
    padding: 2px;
    margin: 0px 1px;
    flex-direction: row;
};

 .SudokuButton {
    box-sizing: border-box;
    flex-direction: row;
};  */