.Button {
    font-size: 18px;
    font-weight: bold;
    width: 36px;
    height: 32px;
    text-align: center;
    padding: 0px 3px;
    margin: 10px 3px;
    border-radius: 15%;
    background-color: #ccc
}